body {
    margin: 0px;
    background-color: #8395c1;
    overscroll-behavior-x: none;
    overflow: hidden;

    font-family: Helvetica, sans-serif;
}
.purchase {
    padding: 5px;
    min-width: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border: 2px solid black;
    background-color: white;
}
#control {
    position: absolute;
    bottom: 0px;
    z-index: 1; /* over the canvas */
    text-align: center;
    min-height: 32px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    padding: 10px;
}
#connectionStatus {
    float: left;
    margin: 6px;

    width: 16px;
    height: 16px;
    
    z-index: 2;
    color: white;
}

#introBanner {
    position: absolute;
    top: 35%;
    left: 20%;
    width: 60%;
    height: 30%;

    text-align: center;

    background-color: whitesmoke;

    z-index: 1000;

    border-radius: 10px;
    border: 2px solid black;
}

#introBanner.h2 {
    display: inline-block;
}

.cover {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    z-index: 99;

    background-color: rgba(0, 0, 0, 0.5);
}

#startBanner {
    position: absolute;
    top: 0px;
    text-align: center;
    z-index: 88;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#startGame {
    font-size: large;
    margin: 1%;
}

/* from https://www.w3schools.com/howto/howto_css_loader.asp */
.loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Notification system */

#notificationBannerBox {
    z-index: 100;
    position: absolute;
    top: 5px;
    right: 5px;
    min-width: 20%;
}

.notificationBanner {
    float: right;
    
    border-radius: 5px;
    border: 2px solid black;
    background-color: whitesmoke;
    color: black;

    padding: 1em;
    min-width: 50%;
    margin-bottom: 0.5em;
}

.notificationBannerError {
    color: red;
}

/* pregame stuff */

#pregameLobbyBox {
    position: absolute;
    left: 5px;
    top: 5px;

    border-radius: 5px;
    border: 2px solid black;
    background-color: whitesmoke;
    color: black;

    padding: 1em;

    min-width: 20%;

    z-index: 99;
}

/*
 * Player that is ready to start the game:
 * <p ready>Debug Player</p>
 * 
 * this css adds a green check mark after
 */
#pregameLobbyBox p[ready]::after {
    color: green;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: " \f00c";
}

#pregameLobbyBox h3 {
    text-align: center;
    margin-top: 0px;
}